*{
    padding: 0;
    margin: 0;
}

.tabela-fator{
    position: absolute;
    top: 125%;
    left: 50%;
    width: 75%;
    transform: translate(-50%,-50%)
}
.tab{
    width: 100%;
}

td{
    width: 33.3%;
    height: 50px;
}

tr{
    height: 50px;
}
h5{
    text-align: center;
}